.info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: inherit;
  justify-content: space-around;
  margin: auto;
}

.info > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16;
  width: 25%;
  margin: 10px auto;

}

.info .btn {
  width: 25%;
  margin: 0 auto;
}
