
.dashboard {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.dashboard .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}


.dashboard .row > h2 {
  text-align: center;
}

.recharts-responsive-container {
  background-color: white;

}
