.App {
  text-align: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Main {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-around;
  margin: 0 auto;
}

.Main .Routes {
  width:inherit;
  justify-content: space-around;
  margin: 0 auto;

}
