.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Main {
  display: flex;
  flex-direction: row;
}

.Main .Routes {
  margin-left: 20px;
}
